body {
	background: url("../media/map_dark.jpg");
	background-size: cover;
	background-position: center center;
}

.navbar-color {
	background-color: #f9293a;
}

.content {
	padding: 30px;
}

.title {
	color: white;
	font-weight: bold;
}

.floors-flexbox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.floors-flexitem {
	background-color: rgba(255,255,255,0.9);
	width: 20%;
	padding: 0px 15px 0px 15px;
}